In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df = df.drop(columns=["ApplicationDate", "LoanApproved", "RiskScore"])

In [16]:
df.head(5)

,Age,AnnualIncome,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,...,TotalLiabilities,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,CreditScoreCategory
0,45,72243,Employed,Associate,19,82637,60,Divorced,0,Mortgage,...,47675,6020.250000,0.650951,4,29817,0.290137,0.264747,2497.467614,0.504043,Fair
1,38,31694,Employed,Bachelor,16,11838,60,Married,0,Rent,...,16227,2641.166667,0.712007,4,11449,0.202838,0.219965,326.929144,0.210865,Fair
2,47,71240,Employed,Bachelor,27,52058,48,Married,3,Mortgage,...,134707,5936.666667,0.729653,1,7761,0.233058,0.222301,1646.652399,0.363782,Fair
3,58,31047,Employed,High School,38,17188,60,Married,0,Own,...,13285,2587.250000,0.942645,11,224118,0.205688,0.219225,473.956564,0.234595,Fair
4,37,43175,Employed,Doctorate,15,20932,36,Single,2,Rent,...,13003,3597.916667,0.668352,5,183106,0.184932,0.170006,746.289655,0.311372,Fair

In [ ]:
print(df.columns.tolist())
def credit_score_category(score):
    if pd.isna(score):
        return "Unknown"
    elif score < 580:
        return "Poor"
    elif score < 670:
        return "Fair"
    elif score < 740:
        return "Good"
    else:
        return "Excellent"
if 'CreditScore' in df.columns:
    df['CreditScoreCategory'] = df['CreditScore'].apply(credit_score_category)
    df = df.drop(columns=['CreditScore'])
else:
    print("Column 'CreditScore' not found in DataFrame")

['Age', 'AnnualIncome', 'EmploymentStatus', 'EducationLevel', 'Experience', 'LoanAmount', 'LoanDuration', 'MaritalStatus', 'NumberOfDependents', 'HomeOwnershipStatus', 'MonthlyDebtPayments', 'CreditCardUtilizationRate', 'NumberOfOpenCreditLines', 'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory', 'LoanPurpose', 'PreviousLoanDefaults', 'PaymentHistory', 'LengthOfCreditHistory', 'SavingsAccountBalance', 'CheckingAccountBalance', 'TotalAssets', 'TotalLiabilities', 'MonthlyIncome', 'UtilityBillsPaymentHistory', 'JobTenure', 'NetWorth', 'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment', 'TotalDebtToIncomeRatio', 'CreditScoreCategory']

KeyError: 'CreditScore'